/* app.css
   =======

User style sheet
*/

/*------------------------------------------------------------------*/
/* local fonts */

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UbuntuMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/UbuntuMono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/UbuntuMono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/UbuntuMono-BoldItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Roboto-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Roboto-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RobotoSlab-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/RobotoSlab-Bold.ttf) format('truetype');
}
/*------------------------------------------------------------------*/

tt, pre, code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%;
}


body,p,h1,h2,h3,h4,h5,h6,a,li {
  font-family: 'Roboto', sans-serif;
}

body, p {
  font-size: 16px;
}

/*------------------------------------------------------------------*/
/* top navbar */

#header, .smart-style-3 #header {
  background: #259;
  background-image: none;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px;
}

.text-in-topbar {
  /* put this inside a span where normally an A would be used, to make
     text in a topbar look the same as an A (but not hoverable etc) */
  display: block;
  padding: 15px 10px;
}

.alert-badge {
    padding: 2px 4px;
    border-radius: 9px;
    font-weight: bold;
}

.alerts {
    background: #f90;
}


/*------------------------------------------------------------------*/
/* left navbar */

#left-panel, #left-panel span, #left-panel a {
}

#left-panel li {
  //border-bottom: 1px solid #a95;
}

.side-nav li {
    padding: 0px;
}

/*------------------------------------------------------------------*/
/* override jQuery UI */

.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*------------------------------------------------------------------*/
/* tabs */


.tabs3 {
    list-style: none;
    margin: 0px 0 0px 0;
    padding: 0 0 0px 0;
    font-size: 110%;
    line-height: 250%;

    width: 100%;

    padding-top: 1px;
}

span.tab3-not-selected, span.tab3-selected,
span.tab3-filler, span.tab3-filler-end-line {
    border: solid #777 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 2px 6px;
    white-space: nowrap;
    font-weight: bold;
    margin: 0 0 0 0;
    //float: left;
}

span.tab3-not-selected  {
    background: #e8e8e8;
}
.tabs3.tab3-not-selected a:hover {
    //text-decoration: none;
}

span.tab3-selected {
    border: solid #000;
    border-width: 2px;
    padding-top: 9px;
    //background: #fff;
    background: #e2ffe2;
    border-bottom-color: #fff;
}

span.tab3-filler, span.tab3-filler-end-line {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    padding: 2px 3px;
    white-space: normal;
}

span.tab3-filler-end-line {
    /* filler to end of current line */
    width: 100px;
}

/*------------------------------------------------------------------*/
/* override bootstrap */

hr {
  border: solid 1px #999;
}

h1 { font-size: 30px; }
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 5px 0;
}
h3 {
  font-size: 21px;
  margin: 13px 0 2px 0;
}
h4 {
  font-size: 18px;
  color: #000;
}
h1,h2,h3,h4 { 
  color: #124; 
}

h1 small,h2 small {
  font-size: 80%;
  font-weight: bold;
  color: #357;
}

label {
  margin-bottom: 0px;
}

.navbar, .navbar-brand,
.navbar-header, .navbar-header a, a.dropdown-toggle, .dropdown a,
.side-nav, .side-nav a {
  color: #fff !important;
  background: #259 !important;
}


.navbar-collapse, .navbar-inverse, .navbar-fixed-top {
  border-color: #ddd !important;
}

span.badge {
  //color: #fff;
  background: #026;
}

ul.side-nav a:hover,
a.dropdown-toggle:hover,
a.dropdown-toggle:focus,
li.dropdown a:hover
{
  background: #585 !important;
}

.nav li.active a,
.nav li.active a:hover,
.nav a.dropdown-toggle:focus
{
  background: #000 !important;
}

a.dropdown-toggle:hover span.badge,
a.dropdown-toggle:focus span.badge
{
  color: #222 !important;
  background: #fff !important;
}

ul.dropdown-menu a {
  color: #222 !important;
  background: #fff !important;
}

ul.dropdown-menu a:hover {
  color: #039 !important;
  background: #ddd !important;
}

/*------------------------------------*/
/* fix help on navbar top right */

.dropdown a {
  //padding-left: 10px !important;
  //padding-right: 10px !important;
}

.help-popup a {
  padding-right: 1px !important;
}
.help-main a {
  padding-left: 4px !important;
}

/*---------- pagination */

.right-pagination {
  float: right;
}
.right-pagination .pagination {
  margin: 4px 0px !important;
  font-size: 16px !important;
}

.pagination li a, .pagination li.disabled a {
  border-color: #666 !important;
}

.pagination li.active a, .pagination li.disabled a {
  color: #000;
  background: #fff;
  font-weight: bold;
}  

  

/*-------------------- buttons */
.btn {
  font-size: 16px !important;
  font-weight: bold;
  padding: 3px 6px !important;
}
.btn-sm {
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 0px 5px !important;
  border: 0 !important;
}

a { color: #36a; }
a:hover { color: #248; }

/*------------------------------------------------------------------*/
/* misc  */

.invisible {
  visibility: collapse;
  display: none;
}


/*==========  */

tt.filename {
  //color: #552a00;
  //background: #ffffcf;
}


/*------------------------------------------------------------------*/

body {
  color: #000;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 6px;
}
h1 small {
  font-size: 80%;
}

.side-nav {
  width: 170px;
}
.side-nav li, .side-nav li a { width: 170px; }
.side-nav li a {
  padding: 6px 4px 6px 10px;
  line-height: 18px;
}
#wrapper {
  padding-left: 170px;
}

.no-wrap { white-space: nowrap}

.side-nav, .side-nav a { font-size: 15px; }

.navbar, .navbar-brand,
.navbar-header, .navbar-header a, a.dropdown-toggle, .dropdown a,
.side-nav, .side-nav a {
  //color: #fff !important;
  //background: #447733 !important;
}


a.navbar-brand {
  /* the logo */
  font-size: 20px;
  font-weight: bold;
}

.btn-warning { background: #f80; border-color: #f80; }

/*------------------------------------------------------------------*/
/* popovers & filters */

.filter-box-outer {
    position: relative;
    z-index: 20;
    text-decoration: none
}

.filter-box-inner {
    display: none; /* to show, change this to block */
    position: absolute;

    width: 200px;
    padding: 3px 6px;
    border: 2px solid #334499;
    border-radius: 6px;
    box-shadow: 0px 6px 6px #aaa;

    color: #000;
    background-color: #eef4ff; /* make it not transparent */
    font-weight: normal;
}


/*------------------------------------------------------------------*/
/* raspberry icon */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9axk29');
  src:  url('fonts/icomoon.eot?9axk29#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9axk29') format('truetype'),
    url('fonts/icomoon.woff?9axk29') format('woff'),
    url('fonts/icomoon.svg?9axk29#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; 
  font-size:110%; position:relative; top:0.18em;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_752516_cc:before {
  content: "\e901";
}
.icon-noun_71141_cc:before {
  content: "\e902";
}
.icon-noun_71140_cc:before {
  content: "\e903";
}
.icon-noun_71181_cc:before {
  content: "\e904";
}
.icon-noun_162884_cc:before {
  content: "\e905";
}
.icon-noun_1596749_cc:before {
  content: "\e900";
}

/*------------------------------------------------------------------*/

/*end */
