/* message.css
   ===========

Style sheet for messages
*/

/*------------------------------------------------------------------*/
/* groups of messages */

blockquote.thread {
    margin: 10px 0 0 0;
    border-left: solid 4px #888;
    padding: 0px 0px 0px 20px;    
}    

/*------------------------------------------------------------------*/

.mess {
    color: #000;
    background: #fff;
    
    max-width: 800px;
    padding: 2px 7px;
    border: 2px solid #56a;
    border-radius: 10px;
    margin: 2px 4px;
    
    //box-shadow: 5px 5px 8px #888;
    line-height: 20px;
}    

.mess-header {
   margin-top: 0px;
   margin-bottom: 0pt;
   padding: 0.2em;
   font-size: 80%;
}    

.mess .mess-footer, .mess p.mess-footer {
    margin-top: 3px;
    margin-bottom: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    font-size: 80%;
}   

.mess-header, .mess-header a, .mess-footer, .mess-footer a {
    color: #569; 
}    

.author {
  color: #050;
  background: #efe;
}    

/*------------------------------------------------------------------*/
/* headings */

.mess h1, .mess h2, .mess h3 {
    font-family: 'RobotoSlab', serif;
    color: #248; 
}    
.mess h1 {font-size: 28px; font-weight: bold;}
.mess h2 {font-size: 22px; font-weight: bold;}
.mess h3 {font-size: 20px; font-weight: bold;}


.mess {counter-reset: h2}
.mess h2:before {
  counter-increment: h2;
  content: counter(h2, upper-roman) ". "
}


/*------------------------------------------------------------------*/
/* table of contents */

.toc {
    min-width: 200px;
    display: table;
    border: 1px solid #666;
    background: #f4f4f4;
    margin: 3px 20px 6px 0px;
    padding: 4px 12px 0px 8px;
}
.toc:before {
    content: "Table of contents";
    font-weight: bold;
}
.toc li::before { content: ""; }

div.toc > ul {
    padding-left: 20px;
}

div.toc > ul > li > a {
    display: none;
}

div.toc > ul > li {
   list-style-type: none;
}

div.toc > ul > li > ul {
    margin-left: 0px;
    padding-left: 0px;
}

/*------------------------------------------------------------------*/

.mess a {
    text-decoration: underline;    
}    

.mess p+p {
    margin-top: 11px;    
}  

.mess pre, .message_source {
    line-height: 16px;
    padding: 2px 6px 3px 5px;
    margin-right: 15px;
    border: 2px solid #ccc;
    white-space: pre-wrap;
    word-break: keep-all;
    background: #fff;
    color: #000;
}  
.message_source {  
    margin-top: 15px;
    border: 2px solid #f9b;
}     
.mess pre {    
    margin-left: 15px;
    border: 2px solid #ccc;
    border-radius: 0;
    background: #f4f4f4;
}    

code {
  color: #602;
  background: #fff;
}


/*------------------------------------------------------------------*/
/* quotes in messages */

.mess blockquote {
   margin: -4px 2px -4px 0px;
   padding:  2px 2px 2px 8px;
   border-width: 2px;
   border-style: solid;
   //border-top-left-radius: 0.3em;

   border-color: #944;
   background: #ffe8e8;
}

.mess p, .mess blockquote p {
    font-size: 17px;   
    margin: 5px 0px;
}    

/*
.mess blockquote {
   margin:       -2px  1.4em -2px 1em;
   padding:      0px   8px  0px 0.5em;
   border-width: 2px   2px  2px   2px;
   border-style: solid;
   border-color: #944;border-color: #7276b9;
   background: #fff4f4;
   background: #f0f0ff;
}
*/

.mess blockquote blockquote {
   margin-right: 0;
   border-color: #494;
   background: #e4ffe4;
}

.mess blockquote blockquote blockquote {
   border-color: #449;
   background: #e4e4ff;
}

/*------------------------------------------------------------------*/
/* tags */


a.tag {
  color: #404;
  background: #fdf;
  padding: 0px 2px;
  
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-right-color: #a8a;
  border-bottom-color: #a8a;
  //border: 1px solid #a8a;
  
  text-decoration: none;
}


/*------------------------------------------------------------------*/
/* stars */

.starred {
    font-weight: bold;
    color: #070;
}

.can_star:hover {
    color: #505;
    background: #fdf;
}


/*------------------------------------------------------------------*/
/* message source */

.message_source {
    
}    


/*------------------------------------------------------------------*/

/*end */
