/* message.css
   ===========

Style sheet fior messages
*/

/*------------------------------------------------------------------*/
/* groups of messages */

blockquote.thread {
    margin: 10px 0 0 0;
    border-left: solid 4px #888;
    padding: 0px 0px 0px 20px;    
}    

/*------------------------------------------------------------------*/

.mess {
    color: #000;
    background: #fff;
    
    max-width: 800px;
    padding: 2px 5px;
    border: 2px solid #459;
    border-radius: 10px;
    margin: 2px 4px;
    
    box-shadow: 5px 5px 8px #888;
    
}    

.mess-header {
   margin-top: 0px;
   margin-bottom: 0pt;
   padding: 0.2em;
   font-size: 80%;
    
}    

.mess .mess-footer, .mess p.mess-footer {
    margin-top: 3px;
    margin-bottom: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    font-size: 80%;
}   

.mess-header, .mess-header a, .mess-footer, .mess-footer a {
    color: #569; 
}    

.mess a {
    text-decoration: underline;    
}    

/*------------------------------------------------------------------*/
/* quotes in messages */

.mess blockquote {
   margin: -4px 2px -4px 0px;
   padding:  2px 2px 2px 8px;
   border-width: 2px;
   border-style: solid;
   //border-top-left-radius: 0.3em;

   border-color: #944;
   background: #ffe8e8;
}

.mess p, .mess blockquote p {
    font-size: 17px;   
    margin: 5px 0px;
}    

/*
.mess blockquote {
   margin:       -2px  1.4em -2px 1em;
   padding:      0px   8px  0px 0.5em;
   border-width: 2px   2px  2px   2px;
   border-style: solid;
   border-color: #944;border-color: #7276b9;
   background: #fff4f4;
   background: #f0f0ff;
}
*/

.mess blockquote blockquote {
   margin-right: 0;
   border-color: #494;
   background: #e4ffe4;
}

.mess blockquote blockquote blockquote {
   border-color: #449;
   background: #e4e4ff;
}

/*------------------------------------------------------------------*/
/* tags */


a.tag {
  color: #404;
  background: #fdf;
  padding: 0px 2px;
  
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-right-color: #a8a;
  border-bottom-color: #a8a;
  //border: 1px solid #a8a;
  
  text-decoration: none;
}


/*------------------------------------------------------------------*/

/*end */
