bleach==3.1.5
click==7.1.2
feedgen==0.9.0
Flask==1.1.2
Flask-Login==0.5.0
flask-paginate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
packaging==20.4
pymongo==3.10.1
pyparsing==2.4.7
pyscrypt==1.6.2
python-dateutil==2.8.1
six==1.15.0
Unidecode==1.1.1
webencodings==0.5.1
Werkzeug==1.0.1
