{# blog.html
   =========

Blog for a user
#}
{% extends "main.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for {{id}}" href="/rss/blog/{{id}}" />
{% endblock extrahead %}

{% block body %}
{{rowcol("md-9")}}
<h1><i class='fa fa-list-ul'></i> {{blogTitle}}</h1>

{{messages}}
{{col("md-3")}}
<h2>@{{user.getNameH()}}'s blog</h2>

<p>Name: {{name}}</p>

{{bio}}

{% if currentUserName()==id %}
<p><a class='btn btn-info' href="/accountSettings/{{id}}">
<i class='fa fa-cog'></i> 
Account Settings</a></p>
{% endif %}

<h2><i class='fa fa-sliders'></i> Formatting Options</h2>

<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/blog/{{id}}">
<i class='fa fa-rss'></i> RSS Feed</a></p>

{#---------- follow button ----------#}
<span id="followButton">
{% if followButton=='follow' %}
<button class='btn btn-success' onclick="follow(1)">
<i class='fa fa-check-circle'></i>
Follow @{{id}}
</button>
{% elif followButton=='unfollow' %}
<button class='btn btn-danger' onclick="follow(0)">
<i class='fa fa-times-circle'></i>
Unfollow @{{id}}
</button>
{% endif %}
</span>

{{endrow()}}
{% endblock body %}

{%block atend%}
<script>
var id={{idJson}};

function follow(n){
    /* n=1 means follow, n=0 means unfollow */
    console.log
    var u = "/x/follow/" + id + "/" + n;
    $.ajax({
        url: u,
        method: "POST",
    }).done(function(){
        var h = ("<span class='btn btn-default'>"
            + (n==1 ? "Now following" : "Unfollowed")
            + " @" + id + "</span>");
        $("#followButton").html(h);
    });
}

</script>
{%endblock atend%}

{# end #}