{# blog.html
   =========

Blog for a user
#}
{% extends "main.html" %}

{% block body %}
{{rowcol("md-9")}}
<h1><i class='fa fa-list-ul'></i> {{blogTitle}}</h1>

{{messages}}
{{col("md-3")}}
<h2>@{{user.getNameH()}}'s blog</h2>

<p>Name: {{name}}</p>

{{bio}}

<p><a class='btn btn-info' href="/accountSettings/{{id}}">
<i class='fa fa-cog'></i> 
Account Settings</a></p>

<h2><i class='fa fa-sliders'></i> Formatting Options</h2>

<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/blog/{{id}}">
<i class='fa fa-rss'></i> RSS Feed</a></p>

{{endrow()}}
{% endblock body %}

{# end #}