{# blog.html
   =========

Blog for a user
#}
{% extends "maincw.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for {{id}}" href="/rss/blog/{{id}}" />
{% endblock extrahead %}

{% block body %}
{{rowcol("md-8")}}
<h1><i class='fa fa-list-ul'></i> {{blogTitle}}</h1>

{{lf.paginationBefore()}}
<div id="messages">
{{lf.getMessagesH()}}
</div>
{{lf.paginationAfter()}}

{{col("md-4")}}
<h2>@{{user.getNameH()}}'s blog</h2>

<table class='bz-report-table'>
<tr>
    <th>posts</th>
    <th>head</th>
    <th>following</th>
    <th>followers</th>
</tr>
<tr>
    <td style='text-align:center;'>{{numPosts}}</td>
    <td style='text-align:center;'>{{numHeadPosts}}</td>
    <td style='text-align:center;'>
        <a href='/listFollowing/{{id}}'>{{numFollowing}}</a> &nbsp;
        <a href='/followingMess/{{id}}'><i class='fa fa-eye'></i></a>        
    </td>
    <td style='text-align:center;'>
        <a href='/listFollowers/{{id}}'>{{numFollowers}}</a> &nbsp;
        <a href='/followerMess/{{id}}'>
            <i class='fa fa-arrow-circle-left'></i></a> 
    </td>
</tr>
</table>

<p><a href="/mostStarred/{{id}}" class='btn btn-default'>
<i class='fa fa-star'></i> Most-Starred messages</a></p>

{% if currentUserName()==id %}
<p><a class='btn btn-primary' href="/messRep">
<i class='fa fa-comment-o'></i> 
Write new message</a></p>
{% endif %}

<p>Name: {{name}}</p>

{{bio}}

{% if currentUserName()==id %}
<p><a class='btn btn-info' href="/accountSettings">
<i class='fa fa-cog'></i> 
Account Settings</a></p>
{% endif %}

<h2><i class='fa fa-sliders'></i> Formatting Options</h2>
<form id="formatingOptionForm" method=GET>
<input type="hidden" name="x" value="x">
{{lf.fof.buildForm()}}
</form>

<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/blog/{{id}}">
<i class='fa fa-rss'></i> RSS Feed</a></p>

{#---------- follow button ----------#}
{% if currentUserName() %}
<span id="followButton">
{% if followButton=='follow' %}
<button class='btn btn-success' onclick="follow(1)">
<i class='fa fa-check-circle'></i>
Follow @{{id}}
</button>
{% elif followButton=='unfollow' %}
<button class='btn btn-danger' onclick="follow(0)">
<i class='fa fa-times-circle'></i>
Unfollow @{{id}}
</button>
{% endif %}
</span>
{% endif %}

{{endrow()}}
{% endblock body %}

{%block atend%}
<script>
{{lf.jsForPage()}}
//--------------------------------------------------------------------
/* follow button */

var id={{idJson}};

function follow(n){
    /* n=1 means follow, n=0 means unfollow */
    console.log
    var u = "/x/follow/" + id + "/" + n;
    $.ajax({
        url: u,
        method: "POST",
    }).done(function(){
        var h = ("<span class='btn btn-default'>"
            + (n==1 ? "Now following" : "Unfollowed")
            + " @" + id + "</span>");
        $("#followButton").html(h);
    });
}

//--------------------------------------------------------------------
</script>
{%endblock atend%}

{# end #}