{# followingMess.html
   ==================

Messages by people a user follows
#}
{% extends "main.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed @{{id}} follows" href="/rss/followingMess/{{id}}" />
{% endblock extrahead %}

{% block body %}
{{rowcol("md-8")}}
<h1><i class='fa fa-eye'></i> Newsfeed for 
<a href='/blog/{{id}}'>@{{id}}</a></h1>

{{lf.paginationBefore()}}
<div id="messages">
{{lf.getMessagesH()}}
</div>
{{lf.paginationAfter()}}

{{col("md-4")}}
<br><br>
<p>Posts from the feeds <a href='/blog/{{id}}'>@{{id}}</a> follows.</p>

<h2><i class='fa fa-sliders'></i> Formatting Options</h2>
<form id="formatingOptionForm" method=GET>
<input type="hidden" name="x" value="x">
{{lf.fof.buildForm()}}
</form>

<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/followingMess/{{id}}">
<i class='fa fa-rss'></i> RSS @{{id}} follows</a></p>

{{endrow()}}
{% endblock body %}

{%block atend%}
<script>
{{lf.jsForPage()}}
</script>
{%endblock atend%}
{# end #}
