{# maincw.html
   ===========

main from catwiki
#}<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{APP_TITLE}}{% endblock %}</title>

<link href="/static/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" 
    href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.css">
<link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.structure.css">
<link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.theme.css">
<link rel="stylesheet" href="/static/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="/static/bozen.css">
<link rel="stylesheet" href="/static/app.css">
<link rel="stylesheet" href="/static/message.css">
<link rel="stylesheet" href="/static/pygments.css">
<link rel="stylesheet" href="/static/tango.css">

<link rel="shortcut icon" type="image/png" 
      href="/static/cat_icon_32x32.png">
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
{%block body_start %}

      <!-- Sidebar -->
      <div class="navbar navbar-default navbar-top">
        {%block topbar %}
      <div class="container-liquid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{APP_LOGO}}
            {{APP_TITLE}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/catwiki/w/home"><i class='fa fa-info-circle'></i>
              About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
          
            {% if currentUserName() %}
            <li class="dropdown user-dropdown" id="dyn_active_alerts">
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user" id="myelement"></i>
                  {{currentUserName()}}
                <ul class="dropdown-menu">
                  <li><a href="/logout"><i class="fa fa-power-off"></i>
                    Log Out</a></li>
                </ul>
              </a>
            </li>
            {% else %}
            <li class="dropdown alerts-dropdown">
              <a href="/login">
                <i class="fa fa-sign-in"></i> Log in
              </a>
            </li>
            {% endif %}
            
            <li class="dropdown alerts-dropdown help-popup">
              <a href="/catwiki/w/help">
                <i class="fa fa-question-circle" id="myelement"></i> Help
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
{% endblock topbar %}
{% endblock body_start %}

{% block contents %}
<div class="container-liquid" style="padding:0 20px">
  {% block page_wrapper %}

  <div class="row">
    <div class="col-lg-12">
      {% block topnav %}   
      <p style="margin-top:6px;">
        {% if currentUserName() %}
        <a class='btn btn-default' href="/followingMess/{{currentUserName()}}">
          <i class="fa fa-eye"></i>
          My Newsfeed</a> &nbsp;
        <a class='btn btn-default' href="/blog/{{currentUserName()}}">
          <i class="fa fa-list-ul"></i>
        My Blog</a> &nbsp;
        {% endif %} 
        <a class='btn btn-default' href="/messList">
          <i class="fa fa-list-ul"></i>
          Recent Messages</a> &nbsp;
        <a class='btn btn-default' href="/popularTags">
          <i class="fa fa-hashtag"></i>
          Popular Tags</a> &nbsp;
        <a class='btn btn-default' href="/userList">
          <i class="fa fa-user"></i>
          List Users</a> &nbsp;
        <a class='btn btn-default' href="/mostStarred">
          <i class="fa fa-star"></i>
          Most-Starred</a> &nbsp;
        <a class='btn btn-default' href="/rssin">
          <i class="fa fa-rss"></i>
          RSS In (temp)</a> &nbsp;
      </p>
      {% endblock topnav %}   
      {% block bodytop %}  
      {% endblock bodytop %}
      {% block body %}
      <p>This is the body of the page.</p>
      {% endblock body %}</div>
    </div><!-- row -->
  {% endblock page_wrapper %}
</div>
{% endblock contents %}

<script src="/static/sb-admin/js/jquery-1.10.2.js"></script>
<script src="/static/sb-admin/js/bootstrap.js"></script>
<script src="/static/bootbox.min.js"></script>
<script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="/static/jquery-ui-timepicker-addon.js"></script>
<script src="/static/js.cookie.js"></script>
<script src="/static/bozen.js"></script>
<script src="/static/jsfunctions.js"></script>
<script src="/static/app.js"></script>

{%block atend%}
<!-- just before /body tag -->
{%endblock atend%}
</body></html>
{# end #}
