{# messRep.html
   ============

New Message or reply to message
#}
{% extends "maincw.html" %}

{% block body %}
{%if isReply %}
<h1><i class='fa fa-reply'></i> Reply to {{m.id()}}</h1>
{{mh}}
{%else%}
<h1><i class='fa fa-comment-o'></i> Create New Message</h1>
{%endif%}

{%if hasPreview%}
<h2><i class='fa fa-eye'></i> Preview of message</h2>
<div class='mess'>  
    <div class='mess-header'>
        preview/@{{currentUserName()}}
    </div>
    {{previewH}}
</div>
{%endif%}

<form method=POST>
<br>
{{mf.buildForm()}}
{{msg}}
<p>tags=<tt>{{tagsH}}</tt></p>

<p><br>
<button class="btn btn-info" name="messRepButton" value="preview">
<i class='fa fa-eye'></i> 
Preview</button>
&nbsp;
<button class="btn btn-success" name="messRepButton" value="enter">
<i class='fa fa-paper-plane'></i> 
Enter Message</button>
</p>
</form>

{% endblock body %}

{# end #}