{# messList.html
   =============

List of messages
#}
{% extends "maincw.html" %}

{% block body %}
{{rowcol("md-8")}}
<h1><i class='fa fa-list-ul'></i> Recent Messages</h1>

{{lf.paginationBefore()}}
<div id="messages">
{{lf.getMessagesH()}}
</div>
{{lf.paginationAfter()}}

{{col("md-4")}}
<br><br>
{% if currentUserName() %}
<p><a class='btn btn-primary' href="/messRep">
<i class='fa fa-comment-o'></i> 
Write new message</a></p>
{% endif %}

<hr>
<h2><i class='fa fa-sliders'></i> Formatting Options</h2>
<form id="formatingOptionForm" method=GET>
<input type="hidden" name="x" value="x">
{{lf.fof.buildForm()}}
</form>

<hr>
<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/messList">
<i class='fa fa-rss'></i> RSS Feed</a></p>

{{endrow()}}
{% endblock body %}
{%block atend%}
<script>
{{lf.jsForPage()}}
</script>
{%endblock atend%}
{# end #}