{# tag.html
   ========

Messages containing a particular tag
#}
{% extends "maincw.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for #{{t}}" href="/rss/tag/{{t}}" />
{% endblock extrahead %}

{% block body %}
{{rowcol("md-8")}}
<h1><i class='fa fa-hashtag'></i> Messages with tag #{{t}}</h1>

{{lf.paginationBefore()}}
<div id="messages">
{{lf.getMessagesH()}}
</div>
{{lf.paginationAfter()}}

{{col("md-4")}}
<br><br>
<p>More information about <a href='/tagInfo/{{t}}'>#{{t}}</a>.
<br>View <a href='/popularTags'>popular tags</a>.
</p>

<hr>
<h2><i class='fa fa-sliders'></i> Formatting Options</h2>
<form id="formatingOptionForm" method=GET>
<input type="hidden" name="x" value="x">
{{lf.fof.buildForm()}}
</form>

<hr>
<h2>Subscription</h2>

<p><a class='btn btn-default' href="/rss/tag/{{t}}">
<i class='fa fa-rss'></i> RSS for #{{t}}</a></p>

{{endrow()}}
{% endblock body %}

{%block atend%}
<script>
{{lf.jsForPage()}}
</script>
{%endblock atend%}
{# end #}
