{# user.html
   =========

A user.
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-user'></i> User: {{doc.getNameH()}}</h1>

<p>Details of user {{doc.getNameH()}}.
Back to <a href='/users'>list of users</a>.
</p>

<form id="theForm" action="/user/{{id}}" method="POST">
<input name="id" type="hidden" value="{{id}}">
<input id="delete_record" name="delete" type="hidden" value="0">

<table class="form-table">
  {{doc.formLine('userName')}}
  {{doc.formLine('password')}}
  {{doc.formLine('email')}}
  {{doc.formLine('isAdmin')}}
  {{doc.formLine('isActive')}}
</table>
{{msg}}

<p><br>
<button class="btn btn-primary">
    <i class='fa fa-save'></i>
    Save user</button>
&nbsp;
<span class="btn btn-danger"
    onclick="deleteUser('{{doc.userName}}','{{id}}')">
    <i class='fa fa-times'></i>
    Delete user</span>
</p>

</form>


{% endblock body %}

{% block atend %}
<script>
function deleteUser(un, id){
    console.log("deleteUser " + un + ", " + id);
    var msg = ("Do you really want to delete the user '"
        + un + "'?");
    bootbox.confirm(msg, function(result) {
        if (result)
            reallyDeleteUser(un, id);
    });
}

function reallyDeleteUser(un, id){
    console.log("reallyDeleteUser " + id);
    document.getElementById("delete_record").value = "1";
    document.forms['theForm'].submit();
}
</script>
{% endblock atend %}

{# end #}
