{# wikiPage.html
   =============

A page in a wiki
#}
{% extends "maincw.html" %}


{% block body %}
<div class="navigation">
{{nav}}
</div>

<h1><i class='fa fa-file-text-o'></i> {{pn}}</h1>

{% if exists %}
    {{wp.html}}
    <p><a href="/wikiEdit/{{userName}}/{{pn}}" class="btn btn-success">
        <i class='fa fa-pencil-square'></i> Edit Page: {{pn}}</a></p>
{% elif canAlter %}
    <p><i>This wiki page doesn't exist yet. You can create it.</i></p>
    <p><a href="/wikiEdit/{{userName}}/{{pn}}" class="btn btn-primary">
        <i class='fa fa-file-text-o'></i> Create Page: {{pn}}</a></p>
{% else %}     
    <p><i>This wiki page doesn't exist.</i></p>
{% endif %}


{% endblock body %}

{# end #}