{# wikiPage.html
   =============

A page in a wiki
#}
{% extends "maincw.html" %}

{% block body %}
{{rowcol("md-8")}}
<div class="navigation">
{{nav}}
</div>

{% if exists %}
    <div class='page-box mess'>
        {{wp.html}}
    </div>
{% elif canAlter %}
    <p><i>This wiki page doesn't exist yet. You can create it.</i></p>
    <p><a href="/wikiEdit/{{userName}}/{{pn}}" class="btn btn-primary">
        <i class='fa fa-file-text-o'></i> Create Page: {{pn}}</a></p>
{% else %}     
    <p><i>This wiki page doesn't exist.</i></p>
{% endif %}

{{col("md-4")}}
<h2>@{{userName}}'s Wiki</h2>

<p><a href="/blog/{{userName}}" class="btn btn-default">
    <i class='fa fa-list-ul'></i> @{{userName}}'s blog</a></p>

<p><a href="/wikiIndex/{{userName}}" class="btn btn-default">
    <i class='fa fa-database'></i> Wiki index</a></p>

<hr>

<p><a href="/wikiEdit/{{userName}}/{{pn}}" class="btn btn-success">
    <i class='fa fa-pencil-square'></i> Edit Page</a></p>   
    
<p><a href="" class="btn btn-default">
    <i class='fa fa-file-text-o'></i> View Source</a>
<a href="" class="btn btn-default">
    <i class='fa fa-history'></i> History</a>   
</p>
   

{{endrow()}}
{% endblock body %}

{# end #}